<h1>Editing invitation_code</h1>

<%= form_for(@invitation_code) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @invitation_code %> |
<%= link_to 'Back', invitation_codes_path %>