<% content_for :title do %>邀请码<% end %>
<h2>邀请码</h2>
<% unless @today_code %>

<div style="text-align:center"><a href="#" id="roll" style="font-size:20px">手气不错</a>
<img id="loading" src="/images/loading.gif" alt="" style="display: none" />
</div>
<script type="text/javascript">
$(function(){
  $('#roll').mouseenter(function(){
    $(this).css('font-size', '32px');
  }).mouseout(function(){
    $(this).css('font-size', '20px');
  }).click(function(){
    $(this).hide();
    $('#loading').show();
    $.ajax({
      url: '/invitation_codes.js',
      dataType: 'json',
      type: 'POST',
      success: function(data){
        $('#loading').hide();
        if(data.length > 0){
          $.each(data, function(i,v){
            $('<div/>').text(v).appendTo('#result');
          });
        }else{
          $('#result').text('今天没有拿到邀请码，请大侠明天再试');
        }
      }
    });
  })
})
</script>
<div id="result" style="text-align:center;font-size:20px;font-family: monospace"></div>
<% end %>
<table>
  <tr>
  </tr>

<% @invitation_codes.each do |code| %>
  <tr>
    <th><%# code.id %></th>
    <td><tt><%= code.code[0,4] %> <%= code.code[4,4] %> <%= code.code[8,4] %> <%= code.code[12,4] %></tt></td>
    <td><%=link_to code.consumer.login, user_path(code.consumer) if code.consumer %></td>
    <%if !code.consumer%>
        <%= form_tag '/my/sendcode' do -%>
          <td><input title="请输入要邀请的好友的邮箱地址" type="hidden" id="code" name="code" value= <%=code.code%> /></td>
          <td>  <%=text_field_tag "email"%>   </td>
          <td> <%= submit_tag '送给您的朋友' %></td>
          <% end %> 
      <%end%>

    </tr>
<% end %>
</table>
<%= will_paginate @invitation_codes %>