<p>
  <b>From:</b>
  <%=h @message.from %>
</p>

<p>
  <b>To:</b>
  <%=h @message.to %>
</p>

<p>
  <b>Content:</b>
  <%=h @message.content %>
</p>

<p>
  <b>Read:</b>
  <%=h @message.read %>
</p>


<%= link_to 'их╗п', messages_path %>