<h1>New profile</h1>

<%= form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :realname %><br />
    <%= f.text_field :realname %>
  </p>
  <p>
    <%= f.label :phonenumber %><br />
    <%= f.text_field :phonenumber %>
  </p>
  <p>
    <%= f.label :sex %><br />
    <%= f.check_box :sex %>
  </p>
  <p>
    <%= f.label :job %><br />
    <%= f.text_field :job %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', profiles_path %>