<% f = comment.floor  %>
<% user = comment.user  %>
<% anon = comment.anonymous or comment.user_id == 0 or (not user) or user.deleted? %>

<li class="comment <%=cycle('even', 'odd')%> thread-<%=cycle('even', 'odd')%> <%=cycle('', 'alt')%> depth-1 comment reader" id="comment-<%=comment.id%>">
  <% if comment.status == 'private' %>
  该评论已被删除
  <% else %>
    <div class="comment-wrap">
      <% unless anon %>
      <a title="<%=comment.user.login%>" rel="external nofollow" href="<%= user_path(comment.user) %>" class="avatar-block pull-left">
        <%= image_tag anon ? '/images/anonymous.png' : user.avatar.url("thumb"), :alt => anon || user.login, :class => 'avatar photo', :alt=>user.login %>
      </a>
      <% else %>
      游客
      <% end %>
      <div class="comment-meta">
        <div class="comment-author vcard">
          <% if anon %>
          <span class="anonymous">匿名人士</span>
          <% else %>
          <cite class="fn">
           <% unless comment.name.blank?%>
            新浪网友: <a class="url" title="<%=comment.name%>" href="http://<%= comment.link %>"><%=comment.name%></a>
          <%else%>  <a class="url" title="<%=comment.user.login%>" href="<%= user_path(comment.user) %>"><%=comment.user.login%></a></cite>
          <% end %>
          <%end%>
        </div><!-- .comment-author .vcard -->
        <span class="published">
          <abbr title="" class="comment-date"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S")%></abbr></span>
        
        <a title="该评论的链接" href="<%=article_path(@article)%>#comment-<%=comment.id%>" class="permalink floorlink">#<%= f %></a>
        <!--|
        <a onclick="return addComment.moveForm(&quot;comment-93&quot;, &quot;93&quot;, &quot;respond&quot;, &quot;584&quot;)" href="/demo/prototype/?p=584&amp;replytocom=93#respond" class="comment-reply-link" rel="nofollow">Reply</a>
        -->
      </div>
      <div class="comment-content comment-text">
        <!--<p class="alert moderation">Your comment is awaiting moderation.</p>-->
        <p><%= format_content comment, comment.article.group %></p>
      </div><!-- .comment-content .comment-text -->
    </div><!-- .comment-wrap -->
    <% end %>
  </li><!-- .comment -->
