<%= div_for article, 'data-article_id' => article.id do %>
  <% cache ["iphone", article], :expires_in => 1.hour do %>
    <% unless article.title.blank? %>
      <h4><%= h article.title %></h4>
    <% end %>
    <%#= format_content article, article.group %>
    <%= image_tag(article.picture.url(:original), :class => 'picture', :style => 'width: 100%;') if article.picture.file? %>
    <% unless article.tag_line.blank? %>
      <p >标签：<% article.tags.collect do |t| %>
        <%= link_to t.name, group_tag_path(@group, t.name), {:rel => 'tag'}%>
        <% end %></p>
    <% end %>
  <% end %>
  <% if not article.anonymous? and article.user %>
    <p>BY: <%= link_to article.user.login, article.user %> </p>
  <% end %>
  <div class='ui-grid-b'>
  <% rated = rated?(article) %>
    <div class='ui-block-a'> 
    <%= link_to up_article_path(article, :format => :mobile), {'data-icon' => 'plus', 'data-role' => 'button', 'data-mini' => 'true', 'data-inline'=>"true", 'data-action' => 'up', :class => "vote #{ rated && 'ui-disabled' }"} do %>
      <%=  article.pos_score %>
    <% end %></div>
  <div class='ui-block-b'> 
    <%= link_to dn_article_path(article, :format => :mobile), {'data-icon' => 'minus', 'data-role' => 'button', 'data-mini' => 'true', 'data-inline'=>"true", 'data-action' => 'dn', :class => "vote #{ rated && 'ui-disabled' }"} do -%>
      <%=  article.neg_score %>
    <%- end -%>
  </div>
  <div class='ui-block-c'> 
  <% if article.comment_status == 'closed' %>
  <% else %>
    <%= link_to article.public_comments_count, article_path(article, :format => :mobile), 'data-role' => 'button', 'data-inline' => 'true', 'data-mini' => 'true', 'data-icon' => 'grid' %> 
  <% end %>
    </div>
  </div>
<% end %>