<% id = article.id %>
<% url = article_url(article) %>
<%= div_for(article, :class => "hentry #{cycle('even', 'odd')} #{article.picture.file? && 'picture'} box") do %>
    <% if article.picture.file? %>
        <% if article.picture.content_type =~ /gif/i %>
            <%= image_tag(article.picture(:original), :alt => (article.title || article.content.mb_chars[0, 10])) %>
        <% else %>
            <%= link_to image_tag(article.picture(:medium), :alt => (article.title || article.content.mb_chars[0, 10])), article.picture(:original),
                        :class => 'picture', :id => "picture-#{id}", :title => (article.title || article.content.mb_chars[0, 10]) %>
        <% end %>
    <% end %>
    <h3 class="entry-title">
      <% if article.title.blank? %>
          <%= link_to "\##{article.id}", article, :rel => 'bookmark' %>
      <% else %>
          <%= link_to article.title, article, :title => article.title, :rel => 'bookmark' %>
      <% end %>
    </h3>

    <div class="entry-summary">
      <%= auto_link format_content(article, article.group) %>
    </div><!-- .entry-summary -->
    <% unless article.tag_line.blank? %>
        <div class="tags">标签：<%= show_tags(article) %></div>
    <% end %>
    <div class="entry-meta clearfix">
      <div id="score-<%= id %>" class="score">
        <% r= rated?(article) %>
        <a href="javascript:vote3(<%= id %>,1)" id="up-<%= id %>" class="up btn <%= r && 'disabled' %>">
          <i class="icon-arrow-up"></i>
          <span id="pos-score-<%= id %>"><%= article.pos_score %></span>顶
        </a>
        <a href="javascript:vote3(<%= id %>,-1)" id="dn-<%= id %>" class="down btn <%= r && 'disabled' %>">
          <i class="icon-arrow-down"></i>
          <span id="neg-score-<%= id %>"><%= article.neg_score %></span>拍</a>
      </div>
      <div class="byline">
        <% if article.anonymous? %>
            匿名人士
        <% else %>
            <% user=article.user %>
            <span class="author vcard"><%= image_tag user.avatar.url("thumb"), :alt => user.login, :size => '16x16', :class => 'avatar' %>
              <%= link_to user.login, user, :class => "url fn n" %>
        </span>
            <!--
            | <span class="edit"><a class="post-edit-link" href="http://localhost/wordpress/wp-admin/post.php?post=761&amp;action=edit" title="Edit 文章">Edit</a></span>
            -->
        <% end %>
        发表于
        <%= link_to archive_path(article.group, :date => article.created_at) do %>
            <abbr class="published" title="<%= article.created_at.iso8601 %>"><%= article.created_at.strftime("%Y-%m-%d") %></abbr>
        <% end %>
      </div>
      <div class="comments_link">
        <a href="<%= article_path(article, :anchor => "comments") %>" class="comments btn " id="c-<%= article.id %>">
          <i class="icon-comment"></i>
          <% if article.comment_status == 'closed' %>
              禁止评论
          <% else %>
              <%= article.public_comments_count > 0 ? "#{article.public_comments_count}条评论" : "暂无评论" %>
          <% end %>
        </a>
      </div>

      <!--  <a href="javascript:void(0);"  onclick="window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent('<%= url %>'));return false;" title="分享到QQ空间"><img src="http://qzonestyle.gtimg.cn/ac/qzone_v5/app/app_share/qz_logo.png" alt="分享到QQ空间" style="vertical-align:middle"/></a>
  <a class="sina" title="分享到新浪微博" href="javascript:shareToSina(<%= id %>)"><img src="/images/tsina.png" alt="分享到新浪微博"/></a>-->
      <!--<span class="category">Posted in <a href="http://localhost/wordpress/?cat=1" rel="tag">未分类</a></span>   | -->
    </div>
    <%= render(:partial => 'comments/index') if controller_name == 'articles' && action_name == 'show'%>
<% end %>