<%  content_for :title, "帖子\##{@article.id}"  %>
<%# @comments = @article.comments.public.find :all, :conditions => 'score > 1', :order => 'score desc', :limit => 10 %>
<% @comments = @article.comments.public.find :all, :order => 'id asc' %>
<% if ( @msg || flash[:notice] ) %><div id="notice"> <%= ( @msg || flash[:notice] ) %></div> <% end %>
<% if @article %>
  <%= render(:partial => @article ) %>
  <a name="comments-list"></a>
  <%# link_to '所有评论', article_comments_path(@article, :format => :mobile, :page => 1) %>

  <%= render(:partial => 'comments/index') %>
<center>
  <br />
  <div data-role="controlgroup" data-type="horizontal">
  	<%= @article.prev_in_group.nil? ? "" : link_to("上一帖子", article_path(@article.prev_in_group, :format => :mobile), {'data-role' => 'button', 'data-icon' => 'arrow-l'}) %>
  	<%= @article.next_in_group.nil? ? "" : link_to("下一帖子", article_path(@article.next_in_group, :format => :mobile), {'data-role'=>'button', 'data-icon'=>"arrow-r", "data-iconpos" =>"right"}) %>
  </div>	
</center>
<% end %>
