
<ul style="list-style: none">
  <li><%= link_to(:controller => :groups, :action => :tag, :id =>@group.id, :tag => '女孩') do %>
      <%=image_tag('girl.jpg', :alt=>'')%>可爱的女孩
      <% end %></li>
  <li><%= link_to(:controller => :groups, :action => :tag, :id =>@group.id, :tag => '男孩') do %>
      <%=image_tag('boy.jpg', :alt=>'')%>可爱的男孩
      <% end %></li>
  <li><%= link_to(:controller => :groups, :action => :tag, :id =>@group.id, :tag => '宝宝') do %>
      <%=image_tag('baby.jpg', :alt=>'')%>可爱的宝宝
      <% end %></li>
  <li><%= link_to(:controller => :groups, :action => :tag, :id =>@group.id, :tag => '猫') do %>
      <%=image_tag('cat.jpg', :alt=>'')%>可爱的猫猫
      <% end %></li>
  <li><%= link_to(:controller => :groups, :action => :tag, :id =>@group.id, :tag => '狗') do %>
      <%=image_tag('dog.jpg', :alt=>'')%>可爱的狗狗
      <% end %></li>

</ul>
  <h3>微博</h3>
    <a href="http://t.sina.com.cn/zuikeai2011"><img src="/images/tsina.gif" alt="新浪微博"/></a>
    <a href="http://t.qq.com/zuikeai001"><img src="/images/tqq.png" alt="腾讯微博"/></a>
    <p>官方QQ群: 138932674<br/>
    <a href="http://www.douban.com/group/317073/">豆瓣小组</a></p>
<div class="widget widget_text widget-widget_text" id="text-1">
  <div class="widget-wrap widget-inside"><h3 class="widget-title">关于“最可爱”</h3>
    <div class="textwidget">
      <p>如果您已经<a href="/signup">注册</a>并<a href="/login">登录</a>了，那么您就可以点击“<a href="/groups/6/add">发表</a>”与我们一起分享最可爱的、最萌的图片或故事。</p>
      <strong>关注</strong>
      <p>您进入最可爱网站，如果看到您喜欢的图片，点击红色桃心（图片），就可以为该图片投一票了。如果你想为图片添加个性的台词，您可以点击图片下方“给这张图片配上可爱的台词”，为图片配上您认为的更合适的台词。点击评论，为图片写下您自己的看法。</p>
      <p>独乐乐不如众乐乐，最可爱与大家一起分享最可爱最萌的图片和故事，期待您的参与。</p>
      <p>现在开始<a href="/signup">注册</a>吧。</p>
      <p>为了方便您再次浏览，<a href="javascript:addBookmark('最可爱','http://zuikeai.net/')">点击这里收藏“最可爱”</a>。</p>

    </div>
  </div>
    <!-- Feedsky FEED发布代码开始 -->
    <!-- FEED自动发现标记开始 -->
    <link title="RSS 2.0" type="application/rss+xml" href="http://feed.feedsky.com/zuikeai" rel="alternate" />
    <!-- FEED自动发现标记结束 -->
    <script language="javascript"><!--
    main_sub="c1s67";
    more_subs="";
    is_new="yes";
    --> </script>
    <script language="javascript" src="http://www.feedsky.com/jsout/publishlist_v2.js?burl=zuikeai&out_html=true"></script>
    <!-- Feedsky FEED发布代码结束 -->
<%# render	:partial=>"sidebar/yesterday_hosttest"%>
<%= render	:partial=>"sidebar/recent_comments"%>

</div>
