<% 
  day = GroupsController::DAY
  keys = GroupsController::KEYS
  now = Time.now
  if params[:limit]
    n = keys[keys.index(params[:limit]) + 1] 
    time = day[params[:limit]]
    content_for :title, "#{day[params[:limit]]}内最热的帖子"
  else
    time = '8小时'
    n = 'day'
    content_for :title, ''
  end
  %>
<% unless is_mobile_device? %>
<div id="sub-nav" class="ad">
  浏览：
  <!--<% if params[:limit] == '8hr' %>8小时内最热<% else %><%= link_to_unless_current('8小时内最热', {:action => :hottest, :id => @group.id, :limit => '8hr'}) %><% end %>-->
  <% if params[:limit] == 'day' %>24小时内最热<% else %><%= link_to_unless_current('24小时内最热', {:action => :hottest, :id => @group.id, :limit => 'day'}) %><% end %>
  <%= link_to_unless_current '1周内', :action => :hottest, :id => @group.id, :limit => 'week'%>
  <%= link_to_unless_current '1月内', :action => :hottest, :id => @group.id, :limit => 'month'%>
  <%= link_to_unless_current '365天内', :action => :hottest, :id => @group.id, :limit => 'year'%>
</div>
<% end %>
<%= render(:partial => 'articles') %>
<%= render :partial => 'common/pagination' %>
<% if not params[:limit] or params[:limit] != "all" %>
<% if @articles.size == 0 %>
  <div id="read-more">
    提示：<b><%= time %></b>内暂无帖子，您可以看看<%= link_to("#{day[n]}最热的帖子", :action => :hottest, :id => @group.id, :limit => n, :format => params[:format]) %>。
  </div>
<% end %>
<% if not @articles or @articles.current_page == @articles.total_pages or @articles.size < 20 %>
  <div id="read-more">
    提示：您已经看完了<b><%= time %>内</b>最热的帖子，您还可以看看<%= link_to("#{day[n]}最热的帖子", :action => :hottest, :id => @group.id, :limit => n, :format => params[:format]) %>。
  </div>
<% end %>
<% end %>
