
<h2>修改头像</h2>
<%=image_tag @user.avatar.url(:medium), :alt=>'当前头像'%>
<%= form_for @user, :html => {:multipart => true } do |f|%>
  <p>
    <%= f.label :avatar, '选取头像（200x200，文件大小不得超过2M）' %><br/>
    <%= f.file_field :avatar %>
  </p>
  <p><%= f.submit '上传' %></p>

<h2>修改邮箱</h2>

<p><%=f.label :email %><br/>
<%= f.text_field :email%><%= @user.pending? ? '未激活' : '<span style="color:green">已激活</span>' %><br/>
<span style="color: red"><%= @user.errors.on(:email) %></span>
</p>
<p><%= f.submit '修改' %></p>
<% end %>
<br />
<!--
重新设定用户名<br />
（由于改版和头像的引入，您可能需要一个更恰当的用户名，<br />
现在您可以修改<b>一次</b>自己的用户名）<br />
<input /><br />
·不可加入@、&amp;、‘、&lt;、或&gt;符号<br />
·不可在开头和结尾使用空格或缩格<br />
·修改之后登录的时候请使用新的用户名或邮箱<br />
<p><%= submit_tag '修改，请注意，点击这个按钮后将无法再次修改' %></p>
<br />
<br />
-->
<%= link_to '修改密码', '/editpass' %></div>

