<h1>Listing pages</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Parent</th>
    <th>Slug</th>
    <th>Path</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%=h page.group_id %></td>
    <td><%=h page.title %></td>
    <td><%=h page.content %></td>
    <td><%=h page.user_id %></td>
    <td><%=h page.parent_id %></td>
    <td><%=h page.slug %></td>
    <td><%=h page.path %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>