<h1>Editing picture</h1>

<% form_for(@picture) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :article_id %><br />
    <%= f.text_field :article_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>