<p>
  <b>Article:</b>
  <%= image_tag @picture.attachment.url(:medium) %>
</p>
<ul>
  <% for art in @picture.articles %>
  <li><%= link_to art.title || art.id, art %></li>
  <% end %>
</ul>
<% form_tag draw_picture_path(@picture) do  %>
<p><label><%= radio_button_tag :pos, 'top' %>顶部</label>
<label><%= radio_button_tag :pos, 'center', true %>中部</label>
<label><%= radio_button_tag :pos, 'bottom' %>底部</label></p>
<label>文字内容<%= text_field_tag :text %></label>
<%= submit_tag  %>
<% end %>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>