<div class="entry" id="entity">
  <div class="entry_bar">
    <div class="entry_bar_left">
      #<%=link_to article.id, article%> <%= link_to article.user.login, [:admin, article.user], :class => article.anonymous ? 'anonymous' : '' %>
      [<span class="report-edit">
        <label><%= radio_button_tag "report[#{report.id}][result]", 'skip', true %>跳过</label>
        <label><%= radio_button_tag "report[#{report.id}][result]", 'remove' %><%= link_to '删除', remove_admin_report_path(report), :method => :post %></label>
        <label><%= radio_button_tag "report[#{report.id}][result]", 'ignore' %><%= link_to '忽略', ignore_admin_report_path(report), :method => :post %></label>
      </span>
      ]
    </div>
    <div class="entry_bar_right">    </div>
  </div>
  <div class="entity_text">
    <%=h article.content%>
  </div>
  <%= render :partial => 'punish', :locals => {:user => article.user} %>
  <table id="article-<%=article.id%>">
  <% report.info.each do |i| %>
  <tr>
    <td>
      <% user = User.find(i[:user_id]) %>
      <%= link_to user.login, [:admin, user] %>
    </td>
    <td><%= i[:reason] %></td>
    <td>
      <%= i[:created_at] %>
    </td>
  </tr>
  <% end %>
  </table>
</div>
