<%- content_for :topbar_items do -%>
  <%= active_li_link '近期热点', group_recent_hot_path(group)%>
  <%= active_li_link '最新', group_latest_path(group) %>
  <li class="dropdown">
  <%= group.recent_hot_link("最热<b class=\"caret\"></b>".html_safe, nil, {:class => "dropdown-toggle", :id => 'hottest_menu_toggle', 'data-toggle'=>"dropdown", 'data-target' => '#'}) %>
    <ul class="dropdown-menu" id="hottest_menu" role="menu" aria-labelledby="hottest_menu_toggle">
      <li><%= group.day_link %></li>
      <li><%= group.week_link %></li>
      <li><%= group.month_link %></li>
      <li><%= group.year_link %></li>
      <li><%= group.all_link %></li>
    </ul>
  </li>
  <%= active_li_link '历史', group_archives_path(group) %>
  <%# active_li_link '标签', [@group, :tags] %>
  <%= active_li_link '发表', [:new, group, :article] %>
<%- end if group -%>
<%-

render_to :after_footer, 'common/analytics'
render_to :nav_right, "common/login_info"

content_for :title, group && ":: #{@group.try(:name)}"
content_for :shortcut_icon, group.options[:favicon] if group

body_attributes :id => (yield(:body_id) || "#{controller_name}-#{action_name}"),
  'data-spy' => "scroll",
  'data-target' => ".subnav",
  'data-offset' => "50"
-%>
<%= render_skeleton -%>
