<!DOCTYPE html> 
<html> 
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
  </head>
  <body>
    <div data-role="page">
      <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <%= render :partial => "skeleton/header" %>
        <%= yield :header %>
      </div><!-- /header -->          

      <div data-role="content">
        <%= yield %>	
      </div><!-- /content -->
      <div data-role="footer" data-position="fixed" data-tap-toggle="false">
        <%= render :partial => "skeleton/footer" %>
        <%= yield :footer %>
      </div><!-- /header --> 
      <div data-role="panel" id="more" data-theme="a">
        <ul data-role="listview">
          <% if logged_in?%>
          <%= active_li_link current_user.login, user_articles_path(current_user, :format => :mobile)%>
          <% end %>
          <li data-role="list-divider"></li>
          <%= active_li_link '首页', root_path(:format => :mobile), 'data-icon' => 'home' %>
          <li data-role="list-divider"></li>
          <%= active_li_link '近期热点', group_recent_hot_path(@group, :format => :mobile)%>
          <%= active_li_link '最新', group_latest_path(@group, :format => :mobile) %> 
          <li data-role="list-divider"></li>
        <%= active_li_link '发表', new_group_article_path(@group, :format => :mobile) %>    
        </ul>
      </div>        
    </div><!-- /page -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
  </body>
</html>