<!DOCTYPE html> 
<html> 
  <head> 
    <title><%= yield :title %></title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <%= render :partial => "skeleton/header" %>
        <%= yield :header %>
      </div><!-- /header -->          

      <div data-role="content">
        <%= yield %>	
      </div><!-- /content -->
      <div data-role="footer">
        <%= render :partial => "skeleton/footer" %>
        <%= yield :footer %>
      </div><!-- /header -->          
    </div><!-- /page -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="//code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  </body>
</html>