<!doctype html public "✰">
<!--[if lt IE 7]> <html lang="en-us" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
  <%= skeleton :head %>
  <%= content_tag :body, body_attributes do %>
    <%= skeleton :navbar %>
    <div class="container">
      <%= skeleton :header %>
      <div class="row">
        <div class="content span9">
          <%= yield(:before_content) %>
          <%= content_for?(:main) ? (yield :main) : yield %>
          <%= yield :after_content %>
        </div>
        <div class="sidebar span3">
          <%= yield :sidebar %>
        </div>
      </div>
      <%= skeleton :footer %>
    </div>
    <%= skeleton :javascripts %>
    <%= yield :bottom %>
  <% end %>
</html>
