<%- content_for :topbar_items do -%>
  <li class="dropdown">
    <%= link_to({:controller =>:groups, :action =>:hottest, :id => (@group.id), :limit => 'day', :page => nil}, {:class => "dropdown-toggle", 'data-toggle'=>"dropdown", 'data-target' => '#hottest_menu'}) do %>
      最热
      <b class="caret"></b>
    <% end %>
    <ul class="dropdown-menu" id="hottest_menu">
      <li>
        <%= link_to '24小时内最热',{:controller =>:groups, :action =>:hottest, :id => (@group.id), :limit => 'day', :page => nil} %>
      </li>
      <li><%= link_to '一周内', {:controller =>:groups, :action =>:hottest, :id => (@group.id), :limit => 'week', :page => nil} %></li>
      <li><%= link_to '一月内', {:controller =>:groups, :action =>:hottest, :id => (@group.id), :limit => 'month', :page => nil} %></li>
      <li><%= link_to '一年内', {:controller =>:groups, :action =>:hottest, :id => (@group.id), :limit => 'year', :page => nil} %></li>
      <li><%= link_to '有史以来', {:controller =>:groups, :action =>:hottest, :id => (@group.id), :limit => 'all', :page => nil} %></li>
    </ul>
  </li>
  <li>
    <%= link_to '最新', {:controller =>:groups, :action =>:latest, :id => (@group.id), :page => nil} %>
  </li>
  <li>
    <%= link_to '历史', group_archives_path(@group) %>
  </li>
  <li>
    <%= link_to '标签', [@group, :tags] %>
  </li>
  <li>
    <%= link_to '发表', [:new, @group, :article] %>
  </li>
<%- end if @group -%>    
<%- 

render_to :after_footer, 'common/analytics'
render_to :nav_right, "common/login_info"

content_for :title, @group && ":: #{@group.try(:name)}" 
content_for :shortcut_icon, @group.options[:favicon] if @group

body_attributes :id => (yield(:body_id) || "#{controller_name}-#{action_name}"), 
  'data-spy' => "scroll", 
  'data-target' => ".subnav", 
  'data-offset' => "50" 
%>
<% content_for :javascripts do %>
  <%= javascript_include_tag '/fancybox/jquery.fancybox-1.3.1.pack.js'%>
  <script>
    $(function(){
      $('a.picture').each(function(){
        var e=$(this);
        setTimeout(function(){
          e.fancybox();
        }, 100)
    
      });
    });
  </script>      
<% end %>
<%= render_skeleton -%>